services:
  flask-server:
    build:
      context: .
      dockerfile: flask-server/Dockerfile
    ports:
      - "5001:5001"

  go-server:
    build:
      context: .
      dockerfile: go-server/Dockerfile
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    environment:
      - VITE_BACKEND_URL=http://localhost:5001
    depends_on:
      - flask-server
      - go-server
